*{
    margin: 0;
    padding: 0;

    color: white;
}

body{
    background-image: url(bg.jpeg);
    background-position: 10%;
}

h1{
    font-size: 4em;
    text-align: center;
    margin: 20px;
    font-family: 'Dancing script';
    font-weight: 900;
}

h3{
    font-size: 2em;
    text-align: center;
    font-family: 'Dancing script';
    margin: 30px;
    font-weight: 900;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-box{
    width: 40vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2,250px);
    grid-template-rows: repeat(2,250px);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-content: center;
    border-radius: 50px;
    border: 1px solid white;
    
    
}

.box{
    width:200px;
    height: 200px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 40px;
    transition: transform 0.1s ease-in-out;
    justify-self: center;
    align-self: center;
}

.box:active{
    transform: scale(1.03);
}

#box1{
    background-color: #D62828;
}
#box1:hover{
    background-color: rgb(233, 6, 6);
}
#box2{
    background-color: #04669b;
}
#box2:hover{
    background-color: #0d9fee;
}
#box3{
    background-color: rgb(36, 236, 53);
}
#box3:hover{
    background-color: rgb(2, 200, 18);
}
#box4{
    background-color: #F77F00;
}
#box4:hover{
    background-color: #fb9425;
}

.flashBtn{
    transform: scale(1.05);
}

.startBtn{
    font-size: 1.5em;
    border: 4px solid white;
    padding: 10px 30px ;
    border-radius: 15px;
    margin: 30px 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: trasnform 0.2s ease;
}
.startBtn:active{
    transform: scale(0.95);
}
