body{
    display: flex;
    background-image: url(/Assets/images/scene.jpg);
   
    background-size: 100%;
    justify-content: center;
    align-items: center;
     width: 100vw;
    height: 100vh;
    
}
.rect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 400px;
    border: 2px solid burlywood;
    backdrop-filter:blur(15px);
    border-radius: 30px;
}
