body { display: flex;
    background-color: #424141;
    justify-content: center;
    box-sizing: content-box;
}

.full { 
    padding: 25px;
    margin:25px;
    border-radius: 40px;
    border: 2px solid #cfcdcd;  
    background-color: rgb(37, 37, 37);
    width:30%;
}
.img{
    display: grid;
    margin: 20px;
}
img { 
    
    justify-self: center;
    width: 110%;
    margin: -30px -12px 0px -12px;
    border: 2px solid #d4d3d3;
    border-radius: 30px;
}

a { 
    font-size: 1.2em;
    color: #a09a9a;
    margin: 20px;
    padding: 15px 40px 15px 40px;
    border: 3px solid #a09a9a;
    border-radius: 40px;
    position:relative;
    top:20px;
    text-decoration: none;
}


p {
    color: #a09a9a;
    font-size: 1.5em;
    padding: 9px;
}



h3{
    padding:20px;
    margin: 40px 0px 20px 20px;
    text-align: left;
    font-size: 1.5em;
}
.rdm { 
    font-size: 1.2em;
    color: #09619c;
    margin: 20px;
    padding: 15px 40px 15px 40px;
    border: none;
    border-radius: 40px;
    position:relative;
    top:20px;
    text-decoration: none;
    font-size: 2em;
    background-color: #7994a3c2;
}
.ctr{ display: flex;
     font-weight: 1.3em;
    justify-content: center;
}
.rdm:hover{
    background-color: #83aab1;
    color: #39769e;
}
@media only screen and (max-width:1170px) {
 .button{
        font-size: 1em;
        margin: 10px;
        padding: 7px 20px 7px 20px;
 }   
}
@media only screen and (max-width:740px) {
    .button{
           font-size: 0.7em;
           margin: 7px;
           padding: 3px 10px 3px 10px;
    }   
}
@media only screen and (max-width:1170px) {
    .rdm{
           font-size: 1em;
           margin: 10px;
           padding: 7px 20px 7px 20px;
    }   
}
@media only screen and (max-width:1170px) {
    p{
           font-size: 1em;
         
    }   
}
@media only screen and (max-width:1170px) {
    .full{
           width: 30%;
    }   
}
@media only screen and (max-width:740px) {
    .full{
           width: 30%;
    }  
}