body { display: flex;
    background-color: #bebaba;
    justify-content: center;
    box-sizing: content-box;
}
.full { 
    padding: 25px;
    margin:25px;
    border-radius: 40px;
    border: 2px solid #cfcdcd;  
    background-color: white;
    width:30%;
}
.img{
    display: grid;
    margin: 20px;
}
img { 
    
    justify-self: center;
    width: 110%;
    margin: -30px -12px 0px -12px;
    border: 2px solid #d4d3d3;
    border-radius: 30px;
}

a { 
    font-size: 1.2em;
    color: #a09a9a;
    margin: 20px;
    padding: 15px 40px 15px 40px;
    border: 3px solid #a09a9a;
    border-radius: 40px;
    position:relative;
    top:20px;
    text-decoration: none;
}


p {
    color: #a09a9a;
    font-size: 1.5em;
    padding: 9px;
}



h3{
    padding:20px;
    margin: 40px 0px 20px 20px;
    text-align: left;
    font-size: 1.5em;
}
.rdm { 
    font-size: 1.2em;
    color: #4b98cc;
    margin: 20px;
    padding: 15px 40px 15px 40px;
    border: 3px solid white;
    border-radius: 40px;
    position:relative;
    top:20px;
    text-decoration: none;
    font-size: 2em;
    background-color: #b7c6ce;
}
.ctr{ display: flex;
     font-weight: 1.3em;
    justify-content: center;
}