body { display:flex;
    box-sizing: content-box;
}

.vids {
    padding: 10px;
    margin: 10px;
    border: 4px solid mediumslateblue;
    border-radius: 25px;
}

.dual {
    padding: 10px;
    margin: 20px;
    border: 4px solid mediumslateblue;
    border-radius: 25px;
    justify-content: center;

}

.hd,
h4 {
    text-align: center;
    padding: 10px;
    margin: 10px 700px 10px 700px;
    text-decoration: none;
    background: linear-gradient(#eb8282, #88c6eb);
    color: white;
    border: 3px solid #7590b3;
    border-radius: 25px 25px 567px 567px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav,
footer {
    padding: 20px;
    margin: 20px;
    background: linear-gradient(90deg, #603d61, #f0a45c);
    border: 5px solid #ae8dec;
    border-radius: 10px;

}

nav a,
footer a {
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    background: linear-gradient(#eb8282, #88c6eb);
    color: white;
    border: 3px solid #7590b3;
    border-radius: 7px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav h1 {
    padding: 10px 20px;
    color: #a3eee2;
    font-stretch: 1.2em;
    font-size: 3em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

p {
    padding: 20px;
    margin: 20px;
}

h6 {
    text-align: center;
    font-size: 2em;
    font-weight: lighter;
}

img {
    border: 5px solid #7590b3;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
}

nav a,
footer a:hover {
    color: white;
    cursor: pointer;
}

nav a,
footer a:visited {
    color: purple;
}

section {
    justify-content: center;
}