body{
    background-color: black;
}
.head{ font-size:2em;
    padding: 10px;
    margin: 10px;
    background-color: cyan;
    
}
header{
    position:sticky;
    top: 0;
}

.full{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    margin:20px;
}
.half{
    padding:400px;
    margin:50px  ;
    border: 2px solid white;
    background-color: coral;

}
h2{
    margin:50px;
    padding:50px;
    color: azure;
    font-size: 2em;
    border:2px solid white;
    border-radius: 25px;
    text-align: center;
    width: 25%;
}
.text{
    display: flex;
    justify-content: center;
}
img{
    position:fixed ;
    width:5%;
}
footer{ padding:100px;
    margin:10px;
    background-color: white;


}
.icon{height: 40px;
    width: 40px;
    border-radius: 32px;
    background-color: orange;
    position: fixed;
    right:31px;
    bottom: 32px;

    }